@font-face{
    font-family: 'courgetter';
    src: local('Courgetter'),
    url('../fonts/Courgette/courgette.ttf') format('truetype');
}

@font-face{
    font-family: 'pacifico';
    src: local('Pacifico'),
    url('../fonts/Pacifico/pacifico.ttf') format('truetype');
}

@font-face{
    font-family: 'satisfy';
    src: local('Satisfy'),
    url('../fonts/Satisfy/satisfy.ttf') format('truetype');
}
/* estilo globales */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'courgetter', cursive;
}
html{
    font-size: 18px;
    scroll-behavior: smooth;
    /* background-color: #eeeeee; */
}

/* main{
    background: rgb(236,208,176);
    background: linear-gradient(180deg, rgba(236,208,176,1) 0%, rgba(236,225,213,1) 50%, rgba(236,225,213,0.4556023092830882) 100%); 
} */

a{
    text-decoration: none;
    color: #fff;
}

.container{
    display: flex;
    flex-direction: column;
}

/* estilos del header */
.my-header{
    height: 100vh;
    background: url('../img/bg.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.container-logo{
    padding: 1rem;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.container-logo .container-logo-img{
    flex-direction: row;
    justify-content: start;
    align-items: center;
    color: #fff;
}

.container-logo .img-logo{
    height: 3rem;
    margin-right: 1rem;
    object-fit: contain;
}

.container-logo .icon-menu{
    width: 3rem;
    cursor: pointer;
}

.menu{
    width: 100%;
    position: fixed;
    z-index: 100;
    /* background-color: #000000; */
    align-items: center;
}

.container-items{
    display: none;
    width: 100%;
    padding: 1rem;
    justify-content: space-around;
    background-color: #000;
}

.container-items .item-menu{
    padding: 1rem;
}

.container-items .item-menu:hover{
    background-color: #fff;
    color: black;
}

.go-to-bottom{
    flex-direction: row;
    justify-content: center;
    width: 100%;
    color: black;
    position: absolute;
    bottom: 0;
    padding-bottom: 1rem;
}

.go-to-bottom img{
    width: 3rem;
    cursor: pointer;
}

/* estilos card */
.card{
    align-items: center;
    padding: 2rem;
    margin: 2rem;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card .title-card{
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    font-size: 2rem;
}

.card .icon-card{
    margin-bottom: 1rem;
}

.card .text-card{
    /* font-size: 1.2rem; */
    text-align: justify;
}

.card .icon-card{
    width: 8rem;
}
/* estilos del main */
.container-mis-vis-obj{
    padding-top: 2rem;
}

/* estilos footer */
.about-us{
    padding-top: 1rem;
    padding-bottom: 2rem;
    align-items: center;
    color: #fff;
    background: #000;
}

.about-us .title-footer{
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.about-us a{
    padding: 1rem;
}
.about-us img{
    margin-right: 0.5rem;
    width: 2rem;
}

.about-us .item-social{
    flex-direction: row;
    align-items: center;
    /* margin-left: 5rem; */
}

.about-us .copy{
    margin-top: 1.5rem;
    text-align: center;
}

.container-fan-page, .container-contact-me{
    width: 100%;
    align-items: center;
}


/* media queries */
@media screen and (min-width:950px){
    html{
        font-size: 20px;
    }

    .menu{
        flex-direction: row;
        background-color: rgba(0, 0, 0, 0.7);
    }

    .container-logo{
        background-color: transparent;
    }

    .container-logo .icon-menu{
        display: none;
    }
    
    .container-items{
        display: inherit !important;
        flex-direction: row;
        background: transparent;
        height: 100%;
    }

    .container-items .item-menu{
        padding: 1rem;
        font-size: 1.3rem;
    }
    
    .container-items .item-menu:hover{
        background-color: transparent;
        color: #fff;
    }

    .container-mis-vis-obj{
        flex-direction: row;
        align-items: center;

    }

    .card{
        flex: 1;
    }

    .container-about-us{
        width: 100%;
        flex-direction: row-reverse;
        justify-content: space-around;
    }
}