.section{
    padding-top: 6rem;
}

.section .title-section{
    text-align: center;
    font-size: 2rem;
    /* color: #603201; */
}

.card2{
    padding: 0;
    border-radius: 0.3rem;
}

.card2 .image-card{
    height: 20rem;
    width: 100%;
    border-radius: 0.3rem 0.3rem 0 0;
    margin-bottom: 1rem;
    background: url(../img/bg.jpg);
    background-position: center center;
    background-size: cover;
}

.card2 .only-image{
    border-radius: 0.3rem;
    margin-bottom: 0;
}

.card2 .title-list-text-card{
    padding-bottom: 1rem;
    text-align: center;
}

.card2 .list-text-card{
    text-decoration: none;
    list-style: none;
    margin-bottom: 1rem;
    text-align: start;
    width: 100%;
    padding-left: 1.5rem;
}

.container-icon-text-list-card{
    flex-direction: row;
    align-items: center;
    padding: 0.7rem;
}

.container-icon-text-list-card .icon-list-card{
    margin-right: 0.8rem;
    height: 1.8rem;
}



/* falta asignar las imagenes en los cards */
.card2 .image-tortas{}
.card2 .image-queques{}
.card2 .image-brazo-gitano{}
.card2 .image-pies{}
.card2 .image-galleta{}
.card2 .image-postres{}
.card2 .image-pan-blanco{}
.card2 .image-pan-integral{}